*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    width: 100%;
}

.header-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
}

.header-left {
    position: relative;
    background-color: #4E0D0D; /* Dark maroon color */
    height: 500px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 40%;
    
}

.header-left img{
    width: 100px;
}

#text-overlay {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    margin-top: 20px;
}

#text-overlay h1 {
    margin: 0;
    font-size: 35px;
    color: white; 
    font-family: cursive;
}

#text-overlay h3 {
    margin: 5px 0 0;
    font-size: 16px;
    color: white;
    font-family: cursive;
}

.header-right{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 8px;
}

#nav-bar ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#nav-bar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#nav-bar li a:hover,
#nav-bar li a.active{
    color: #d3d318;
}

#header-img{
    width: 100%;
    height: 90%;
}

#header-img img{
    width: 700px;
    height: 400px;
    margin-top: 30px;
}

.products{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.products div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.products div img{
    width: 190px;
    height: 200px;
}

#p1 div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border: 1px thin white;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

button{
    background-color: purple;
    text-align: center;
    padding: 3px;
}

button a{
    text-decoration: none;
    color: white;
}

footer {
    background-color: #4E0D0D; /* Dark maroon color */
    color: #F2C94C; /* Yellow color */
    text-align: center;
    padding: 50px 20px;
    position: relative;
}

.footer-container {
    position: relative;
    width: 100%;
}

.see-more {
    font-size: 24px;
    margin-bottom: 100px;
}

.newsletter-signup {
    background-color: black;
    color: #F2C94C;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
}

.newsletter-signup span {
    flex: 1;
    display: flex;
    justify-content: left;
}

.newsletter-signup button {
    background: none;
    border: none;
    color: #F2C94C;
    font-size: 24px;
    cursor: pointer;
}

.social-media {
    margin: 20px 0;
    margin-top: 50px;
}

.social-media p {
    margin: 5px 0;
}

#like{
    position: relative;
    display: flex;
    justify-content: left;
    padding-left: 450px;
}

.footer-logo img{
    width: 50px;
    height: 50px;
}
